/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300vh;
  margin: 0;
}

/* Form */
form {
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 420px;
}

/* Header */
h2 {
  text-align: center;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

/* Red Star */
.required {
  color: red;
  font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="file"],
select {
  width: 90%;
  padding: 10px 12px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Radio Groups */
.gender-group, .donat {
  margin-bottom: 15px;
}

.gender-group label,
.donat label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}

/* Checkbox */
.terms {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: normal;
}

.terms input[type="checkbox"] {
  margin-right: 8px;
}

/* Submit Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
